<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<div class="container">
  <div class="row">
        <div class="col-md-4">
      <h3><a href="/stores/create">Create Store</a></h3>
      <h1>Store List</h1>
      <% if(stores.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Store Name</th>
            <th>Tier</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<stores.length;i++) { %>
            <tr>
              <td><a href="/stores/show/<%= stores[i]._id%>"><%= stores[i].name%></a></td>
              <td><%= stores[i].tier%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No stores found.</div>
      <% } %>
    </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>                                     