<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">
              <i class="fa fa-lg fa-shopping-cart fa-space-after" aria-hidden="true"></i>
              Mrkt Tracker</p>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div class="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                <a href="/stores">View Stores</a>
              </li>
              <li>
                <a href="/stores/create">Create Store</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/profile">
                <i class="fa fa-lg fa-space-after fa-user" aria-hidden="true"></i>
                Profile
              </a></li>
            <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
          </ul>
        </div>
    </div>
</nav>
