

<!DOCTYPE html>
<html lang="en">
<% include /partials/head.ejs %>
<body>
  <% include /partials/header.ejs %>
  <div class="container">
    <div class="jumbotron text-center">
        <!-- <h1>
          <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Mrkt Tracker</h1>
        <h3 class="landing-subtitle">All your retail contacts in one place</h3> -->
        <div class="landing-description">
          <p>Work smarter. Not longer.</p>
          <p>We know your busy life leaves you no time to manage all of the paperwork you collect on the road.
            After being gone all day no one wants to do more paper pushing when they get home. We get it.
            Mrkt Tracker is the easiest way to organize and maintain all of your professional contacts and notes in one place.
          </p>
          <p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
          </p>
        </div>
    </div>
  </div>
  <% include /partials/footer.ejs %>
</body>
</html>
