.btn-row {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
.btn-row > .btn {
  margin: 10px;
}

.btn-corner {
  width: 40px;
  height: 40px;
  /* align to bottom corner of parent div */
  position: absolute;
  right: 16px;
  bottom: 14px;
}
/*button to go back to store list*/
.btn-corner > .fa-home {
  position: absolute;
  top: 14px;
  left: 12px;
}
#edit-store-location {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: -4px;
}
#edit-store-location > .fa {
  position: relative;
  top: -5px;
  left: -5px;
}
/*button for adding a store*/
.btn-corner > .fa-plus {
  /*padding-top: 8px;*/
}
/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-default {
  background-color: #e6e6e6;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-danger {
  color: #fff;
  background-color: #ff5e68;
  /*border-color: */
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #b3b3b3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-default.raised {
  box-shadow: 3px 3px #8388a4;
}
.btn-primary.raised {
  box-shadow: 3px 3px #007299;
}
.btn-danger.raised {
  box-shadow: 3px 3px #99000a;
}
.btn-primary.raised:active,
.btn-primary.raised.active {
  background: #064789; /* dark cerulean */
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
  /*padding: 14px 24px;*/
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #3cc1c8; /* maximum blue green */
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #064789; /* dark cerulean */
}
.btn-primary:active,
.btn-primary.active {
  background: #007299;
  box-shadow: none;
}
