footer {
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  background: #d7f3f4; /* azureish white */
  border-bottom: 1px solid #a0d1d3; /* pale robin egg blue */
  border-top: 1px solid #a0d1d3; /* pale robin egg blue */
}
.logged-in-wrapper,
.logged-out-wrapper {
  min-height: 100%;
  height: 100%;
}
.logged-in-wrapper {
  margin: 0 auto -155px;
}
.logged-out-wrapper {
  margin: 0 auto -50px;
}
footer.logged-in {
  height: 155px;
}
footer.logged-out {
  height: 50px;
}

footer h3 {
  border-bottom: 1px solid #a0d1d3; /* pale robin egg blue */
  color: #2c8e93; /* illuminating emerald */
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
}
footer ul,
footer .fa {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #2c8e93; /* illuminating emerald */
}
footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
footer a {
  color: #2c8e93; /* illuminating emerald */
}
.footer-bottom {
  background-color: #b3dee0; /* powder blue */
  border-top: 1px solid #a0d1d3; /* pale robin egg blue */
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
  color: #2c8e93; /* illuminating emerald */
}
