html {

}

body{
  padding-top: 70px;
  min-height: 100%;
}

.col-sm-auto {
     width: auto;
     padding: 0px;
}


select {
  max-width: 150px;
}

.toggle-details {
  display: none;
  padding: 0px;
}

.fa-space-after {
  padding-right: 8px;
}

.fa::after {

}
