.store-box a.seemore {
  width: 100%;
  font-size: 12px;
}
.store-box a.seemore:before {
  width: 100px;
}
.store-box a {
  text-decoration: none;
}
/*beginning*/

.store-box {
  margin-bottom: 70px;
  height: auto;
  float: left;
  width: 100%;
  padding: 50px 50px 30px 50px;
  border: 2px solid #2c8e93; /* Illuminating emerald */
  /*border:1px solid #d7d7d7;*/
  background-color: #fff;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.store-box:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 96%;
  border-left: 2px dotted #2c8e93; /* Illuminating emerald */
}
.store-box:after {
}
.store-round {
  width: 200px;
  height: 94px;
  border-radius: 20px;
  margin: -95px auto 13px;
  border: 2px solid #2c8e93; /* Illuminating emerald */
  background-color: #fff;
}
.store-round a.sprite-tier {
  height: 200px;
  text-align: center;
  line-height: 100px;
  display: block;
  color: #5f99d3; /* livid */
  font-size: 45px;
  position: relative;
}
a.sprite-tier > div.label {
  background-color: transparent;
  color: #2c8e93; /* Illuminating emerald */
  font: 26px "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px gray;
  position: relative;
  top: 5px;
  z-index: 10;
}
a.sprite-tier > img {
  width: 175px;
  height: 85px;
  padding-bottom: 15px;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
}
.store-box h3 {
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 8px 0;
}
.store-box strong.address {
  font: 17px "Montserrat", sans-serif;
  font-weight: 500;
  color: #5f99d3; /* livid */
  line-height: 22px;
  display: block;
  text-align: center;
  padding: 0 0 10px 0;
}
.store-box p {
  font: 16px "Montserrat", sans-serif;
  color: #5f99d3; /* livid */
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 0 0 6px 0;
}
.store-list * p.gen-comments {
  /*only allow view of first 2 lines*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 10px 0 16px 0;
}
.store-box a.seemore {
  width: 135px;
  height: 39px;
  margin: 0 auto;
  background-color: ##eaf5ff; /*light blue*/
  border: 2px solid #5f99d3; /* livid */
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  display: block;
  color: #2c8e93; /* illuminating emerald */
  position: relative;
}
.store-box a.seemore .fa {
  font-size: 14px;
  color: #2c8e93; /* illuminating emerald */
  padding: 0 0 0 5px;
}

.paperwork-row {
  align-items: stretch;
}
/*Our store Section End*/
